body{
    height: 100%;
    margin: 0;
    padding: 0;
    word-wrap:break-word;
    font-family: 'DM Sans';
    background-image: url('/img/tealBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.mapKey{
    margin-top: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
.welcome{
    color: white;
}
h1,h2,h3{
    margin-top:30px;
    text-align: center;
 
}
li{
    list-style: none;
}
img{
    margin-left: auto;
    margin-right: auto;
    
}
.profileImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.firstHeading{
  font-size: 1rem;

}
#bodyContent{
  text-align: center;

}
.websiteLink{
  position: relative;
  top: 5px;
}
/* edit account details modal form */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.editAccountContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
label{
  margin-top: 10px;
}
.formInput{
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit {
  width: 30%;
  background-color: #006769;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  /* user chip on map info window */
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .fa-comment-dots{
    position: relative;
    top: 0px;
    right: -14px;
  }
  
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: red;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
.saved{
  text-align: center;
}
.savedTrash{
  margin-left: 10px;
}
.savedResources{
  list-style:circle;
  margin-top: 15px;
}
.formSection {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
