body{
    height: 100%;
    margin: 0;
    padding: 0;
    word-wrap:break-word;
    font-family: 'DM Sans';
    background-image: url('/img/tealBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.mapKey{
    margin-top: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
.welcome{
    color: white;
}
h1,h2,h3{
    margin-top:30px;
    text-align: center;
 
}
li{
    list-style: none;
}
img{
    margin-left: auto;
    margin-right: auto;
    
}
.profileImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.firstHeading{
  font-size: 1rem;

}
#bodyContent{
  text-align: center;

}
.websiteLink{
  position: relative;
  top: 5px;
}
  /* user chip on map info window */
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .fa-comment-dots{
    position: relative;
    top: 0px;
    right: -14px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
.saved{
  text-align: center;
}
.savedTrash{
  margin-left: 10px;
}
.savedResources{
  list-style:circle;
  margin-top: 15px;
}